<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8"/>
<title>Faculdade Impcta</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<style type="text/css">
body {background: #E8E8E8}

</style>
<style type="text/css">
   h1{color: black}



</style>
<body>
<form name="login" action="" method="POST" aling="right"> 
   <label > Nome do Usúario</label>
   <input type="text" name="user"/>
   <label> Senha</label>
   <input name="senha" type="password"/>
   <input type="submit" value="Login"/> <input type="reset" value="Limpar"/>
</form>

<div id="inicio">
<h1><p> Faculdade Impacta</p></h1>
<img src="imagem1.jpg"/>

<ul>
<li><h3><a href='cursos.html'>Lista de Cursos</a></h3></li>
<li><h3><a href='noticias.html'>Notícias</a></h3></li>
</ul>  
</div>
</body>
</html>